<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <form action="#">

                
                <img src="../../../assets/imgs/main-user2.png" alt="main-user" class="img">
                

                <div class="pos">

                    <div class="label">
                        <i class="far fa-user fa-2x"></i>
                    </div>
                    <input class="input" type="text" name="user" placeholder="USERNAME" id="user">
                </div>

                
                <div class="pos">

                    <div class="label">
                        <i class="fas fa-lock fa-2x"></i>
                    </div>
                    <input class="input" type="text" name="user" placeholder="PASSWORD" id="user">
                </div>

                <button type = "button" class="login-button">
                    LOGIN
                </button>

                <div style="margin-top: 30px;">
                        <div style="display: inline;">
                            
                            <input type="checkbox" name="remember">
                            <label for="remember" class="label-checkbox">Remember me</label>
                        </div>
                        <i class="forgot">Forgot your password?</i>
                    
                </div>
                
                <div class="hr">
                    <hr>

                </div>

            </form>
        </div>

    </div>
</body>
</html>
